
/********/ 
body
 {
	font-family: Corbel, Arial, sans-serif;
	margin: 0px;

}



a
{
	color:#000;
	text-decoration: none;
}


/****header****/
#header{
	background-color: #03a9f4;

}
h1
{
	font-size: 36px;
	padding: 15px 0px 0px 0px;
	text-align:center;
	color:#fff;
	margin:0;
	text-transform: uppercase;
}
h2
{
	margin: 0 auto;
	text-align:center;
	color:#fff;
}
#nav{
	background-color: #1565c0;
	text-align: center;
	list-style-type: none;
}
/*liststyle-type definisce il design dell'elenco puntato, nel nostro caso none, significa che non si vuole alcun puntino nella lista*/
#nav li{
	display:inline-block;
	padding:6px 8px 6px 8px;

}

/*#nav indice l'id chiamato nav, li è la lista contenente al suo interno, e a il link contenente la lista dentro nav, con .nav invece si va a ricercare la classe*/
#nav li a{
	color:#fff;
}

#nav li:hover
{
	background-color: #03a9f4;
}
/*il nav sottocategoria li con l'attributo display
si può far si che il nostro elenco
puntato sia in orizzontale e non in
verticale con inline-block*/

/****content****/

#content{
	width: 600px;
	margin:30px auto;
}

/*widt: definiscde l'altezza del nostro contenitore
all'interno di content che sarebbe in html il tag div con classe id chiamato 
content, margin invece ti da il margine del contenutore
30 px sopra e sotto e auto per i lati*/
#content h3{
	text-align: center;
}
#content h4{
	border-bottom: #03a9f4 solid;
}

#content img{
	width: 50%;
	padding: 0 25%;
}